# ─── THREADS AKUN 1 ────────────────────────────────
THREADS_USER_ID_1=ISI_USER_ID_AKUN_1
THREADS_ACCESS_TOKEN_1=ISI_TOKEN_AKUN_1

# ─── THREADS AKUN 2 ────────────────────────────────
THREADS_USER_ID_2=ISI_USER_ID_AKUN_2
THREADS_ACCESS_TOKEN_2=ISI_TOKEN_AKUN_2

# ─── IMGBB ──────────────────────────────────────────
IMGBB_API_KEY=ISI_IMGBB_KEY
